<div class="container">
  <div class="placeholder" *ngFor="let i of gridPlaceholder"
       [ngStyle]="{'width': cellSize - 2 + 'px', 'height': cellSize - 2 + 'px'}"
  ></div>
  <app-cargo-agent
    [cellSize]="cellSize"
    [availableGoods]="availableGoods"
    [storeSize]="storeSize"
    [storeGrid]="storeGrid"
    [gapSize]="gapSize"
    [availableSlots]="availablePositions"
    (addGood)="placeGood($event)"
  ></app-cargo-agent>
  <ng-container *ngFor="let row of storeGrid; index as y">
    <ng-container *ngFor="let item of row; index as x">
      <ng-container *ngIf="!!item">
        <app-goods-item
          [name]="item.name"
          [quantity]="item.quantity"
          [ngStyle]="{'left': x * cellSize + gapSize + 'px', 'top': y * cellSize + gapSize + 'px'}"
        ></app-goods-item>
      </ng-container>

    </ng-container>
  </ng-container>
</div>
